#########################################################
.env
# Ignore local ELK and Monitoring configuration and data
elk/*
monitoring/*

# ...except sample config files
!elk/*.sample
!elk/install-filebeat.sh
!monitoring/*.sample
!monitoring/rules/
!monitoring/rules/*.sample

# Ignore common temp files
*.log
*.tmp
*.swp

# Optional: ignore Docker volumes (if mounted locally)
**/data/
**/logs/
#########################################################
