global:
  resolve_timeout: 5m

route:
  receiver: 'default-receiver'

receivers:
  - name: 'default-receiver'
    email_configs:
      - to: 'your@email.com'
        from: 'alertmanager@yourdomain.com'
        smarthost: 'smtp.yourdomain.com:587'
        auth_username: 'your@email.com'
        auth_identity: 'your@email.com'
        auth_password: 'your_password'
        require_tls: true
