elasticsearch.hosts: ["http://elasticsearch:9200"]
elasticsearch.serviceAccountToken: "__REPLACE_ME__"

server.host: "0.0.0.0"

xpack.security.encryptionKey: "__REPLACE_ME__"
xpack.encryptedSavedObjects.encryptionKey: "__REPLACE_ME__"
xpack.reporting.encryptionKey: "__REPLACE_ME__"
